In [1]:
import requests

response = requests.get("https://datos.madrid.es/egob/catalogo/208223-7605492-trafico-intensidad-tramas.kml")
response

In [2]:
with open("madrid.kml","wb") as file:
    file.write(response.content)

In [7]:
import fiona

fiona.drvsupport.supported_drivers['kml'] = 'rw' # enable KML support which is disabled by default
fiona.drvsupport.supported_drivers['KML'] = 'rw' # enable KML support which is disabled by default

fiona.supported_drivers

{'DXF': 'rw',
 'CSV': 'raw',
 'OpenFileGDB': 'raw',
 'ESRIJSON': 'r',
 'ESRI Shapefile': 'raw',
 'FlatGeobuf': 'raw',
 'GeoJSON': 'raw',
 'GeoJSONSeq': 'raw',
 'GPKG': 'raw',
 'GML': 'rw',
 'OGR_GMT': 'rw',
 'GPX': 'rw',
 'MapInfo File': 'raw',
 'DGN': 'raw',
 'S57': 'r',
 'SQLite': 'raw',
 'TopoJSON': 'r',
 'kml': 'rw',
 'KML': 'rw'}

In [8]:
import geopandas as gpd

from shapely.geometry import Point, Polygon
import pandas as pd

my_map = gpd.read_file('madrid.kml', driver='KML')
my_map

     Name Description                                           geometry
0                      POLYGON Z ((-3.68860 40.43049 0.00000, -3.6885...
1                      POLYGON Z ((-3.68857 40.43059 0.00000, -3.6885...
2                      POLYGON Z ((-3.69268 40.41991 0.00000, -3.6919...
3                      POLYGON Z ((-3.68867 40.43474 0.00000, -3.6886...
4                      POLYGON Z ((-3.69095 40.42348 0.00000, -3.6910...
...   ...         ...                                                ...
3925                   POLYGON Z ((-3.74371 40.45372 0.00000, -3.7437...
3926                   POLYGON Z ((-3.74522 40.45503 0.00000, -3.7451...
3927                   POLYGON Z ((-3.74413 40.45301 0.00000, -3.7440...
3928                   POLYGON Z ((-3.69219 40.48494 0.00000, -3.6922...
3929                   POLYGON Z ((-3.69814 40.48968 0.00000, -3.6980...

[3930 rows x 3 columns]